@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto-Regular.ttf'),
        url('../webfonts/Roboto-Bold.ttf'),
        url('../webfonts/Roboto-Italic.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #182a69;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #a40201;
    color: #a40201;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

.header-logo img {
    width: 200px;
}

.owl-feedback-form input,
.owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}

.registration__agree {
    margin-top: 10px;
}

button.btn-close {
    font-size: 14px;
    z-index: 1;
    right: 15px;
    top: 7px;
    position: absolute;
}

.header-contacts-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header-block-page {
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}

.header-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-page {
    position: relative;
}

.main-page-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.page-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 22px;
}

.page-btn:hover {
    background-color: #fff;
    color: #212529;
}

.header-phones a {
    display: block;
    color: #fff;
    font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.header-page a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.main-page-title {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.dropdown-item {
    border-bottom: 1px solid transparent;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #182a69;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.header-row-top-social a {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}


.footer-page {
    background-color: #f1f1f1;
    padding: 40px 0;
    margin-top: 50px;
}

.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: flex-start;
}

.footer-flex-block a {
    color: #182a69;
    display: block;
    margin-bottom: 10px;
}

.social-block {
    display: flex;
}

.social-block a {
    margin-right: 20px;
}

.footer-copyright {
    font-size: 12px;
    text-align: right;
}

.gray-block {
    background-color: #3f4049;
    color: #fff;
    padding: 40px 0;
    margin-bottom: 60px;
}

.registration__agree a:hover {
    color: #3f4049;
    border-bottom-color: #3f4049;
}

.btn-block-center {
    text-align: center;
    margin-bottom: 40px;
}


.main-text-block {
    position: absolute;
    top: 80px;
    color: #fff;
    font-size: 20px;
    max-width: 1320px;
}

.header-logo a:hover {
    border-bottom-color: transparent;
}

#button-up {
    display: none;
    right: 30px;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    color: #3f4049;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
}

#button-up::before {
    font-family: FontAwesome;
    content: "\f062";
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 10.79px;
    font-size: 22px;
}

.header-logo {
    padding: 10px;
}

.map-block {
    width: 55%;
}

.contact-block {
    width: 40%;
}

.main-flex-catalog {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.page-btn {
    background-color: transparent;
    color: #a40201;
    border: 2px solid #a40201;
    padding: 8px 22px;
    font-size: 20px;
    text-align: center;
    line-height: initial;
}

.main-catalog-item:hover {
    box-shadow: 0px 2px 64px -13px #333;
}

.page-btn:hover {
    background-color: #a40201;
    color: #fff;
    border-bottom: 2px solid #a40201;
}

.header-block-btns .page-btn {
    color: #fff;
    border: 2px solid #fff;
}

.header-block-btns .page-btn:hover {
    color: #3f4049;
    background-color: #fff;
}

.overlay-block {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-line-top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header-line-top a {
    color: #fff;
    padding: 5px 10px;
}

.navbar-expand-md .navbar-collapse {
    width: 100%;
    justify-content: center;
}

.title-page {
    text-align: center;
    margin-bottom: 40px;
}

.sub-title-desc {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.catalog-block-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.catalog-flex-item {
    width: 28%;
    margin-bottom: 20px;
    transition: all .3s linear;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 2px 18px -13px #333;
}

.main-catalog-image a:hover {
    border-bottom: transparent;
}

.catalog-flex-item .main-catalog-title a:hover {
    border-bottom: 1px solid #a40201;
}

.catalog-flex-item .main-catalog-image img {
    width: 100%;
}

.main-catalog-title {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}

.catalog-flex-item:hover {
    box-shadow: 0px 2px 64px -13px #333;
}

.goods-btn {
    display: flex;
    justify-content: space-around;
}

.goods-btn .page-btn {
    width: 47%;
}

.text-blod {
    font-weight: bold;
}

.advantages-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.advantages-flex-item {
    width: 31%;
}

.advantages-flex-item:hover i {
    transition: all .3s linear;
}

.advantages-flex-item:hover i {
    transform: scale(1.2);
}

.red-block {
    background-color: #a40201;
    color: #fff;
    padding: 40px 0;
    margin-bottom: 60px;
    text-align: center;
}

.advantages-flex-item span {
    margin-bottom: 20px;
    font-size: 50px;
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 99px;
}

.advantages-flex-text {
    font-size: 20px;
}

.sub-title-desc-left {
    text-align: left;
}

.title-page-item {
    text-align: center;
    margin-bottom: 40px;
}

.images-main {
    display: flex;
    justify-content: space-between;
}

.images-main-item {
    width: 49%;
}

.images-main-item img {
    width: 100%;
}

.footer-links a:hover,
.footer-address a:hover {
    color: #a40201;
}

.subtitle-text-ul {
    padding: 0;
    list-style: none;
    counter-reset: li;
    font-size: 20px;
}

.subtitle-text-ul li {
    position: relative;
    padding: 12px 20px 20px 28px;
    margin-left: 40px;
    transition-duration: 0.3s;
}

.subtitle-text-ul li:before {
    border: 6px solid transparent;
    line-height: 30px;
    position: absolute;
    top: 10px;
    left: -30px;
    width: 42px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #a40201;
    font-family: 'FontAwesome';
    content: '\f00c';
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subtitle-text-ul li:hover:before {
    color: #a40201;
}

.subtitle-text-ul li:after {
    position: absolute;
    top: 10px;
    left: -30px;
    width: 42px;
    height: 42px;
    border: 6px solid #DDDDDD;
    border-radius: 50%;
    content: '';
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subtitle-text-ul li:hover:after {
    animation: 500ms ease-in-out 0s bounceIn;
    opacity: 1;
    border: 6px solid #a40201;
}

.social-block {
    margin-bottom: 20px;
}

.card-goods-item {
    margin-bottom: 40px;
}

.cart-goods-image {
    width: 31%;
    float: left;
    margin: 0 20px 20px 0;
}

.cart-goods-image img {
    width: 100%;
    transition: all .3s linear;
}

.cart-goods-image:hover img,
.portfolio-block-item:hover img {
    transform: scale(1.1);
}

.cart-tab-property-block-title {
    font-weight: bold;
    margin: 15px 0;
}

.cart-tab-property {
    border-bottom: 2px dotted #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 0 5px;
}

.cart-tab-property-grey {
    background-color: #f1f1f1;
    border-bottom-color: #fff;
}

.cart-tab-property-number {
    text-align: right;
    font-weight: bold;
}

.portfolio-page-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-block-item {
    width: 19%;
    margin-bottom: 40px;
    transition: all .3s linear;
    flex-grow: 1;
    padding: 5px;
}

.portfolio-block-item img {
    width: 100%;
    transition: all .3s linear;
}

.portfolio-block-item a:hover {
    border-bottom-color: transparent;
}

.buttons-margin {
    margin: 40px 0;
}

.flex-price-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-price-block-item {
    border: 2px solid #a40201;
    width: 49%;
    text-align: center;
    padding: 20px;
    transition: all .3s linear;
    margin-bottom: 40px;
}

.flex-price-title {
    font-size: 22px;
}

.flex-price-icon-wrap i {
    font-size: 40px;
    color: #a40201;
}

.cart-goods-image a:hover {
    border-bottom-color: transparent;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@media(max-width:1199px) {
    .map-block {
        width: 50%;
    }

    .page-btn {
        padding: 8px 10px;
    }

    .catalog-flex-item {
        width: 32%;
    }
}

@media(max-width: 991px) {
    .header-phones a {
        font-size: 18px;
    }

    .map-block,
    .contact-block {
        width: 100%;
    }

    .map-block {
        margin-bottom: 20px;
    }

    .header-contacts-row {
        flex-wrap: wrap;
    }

    .header-block-btns {
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .navbar-expand-md {
        flex-wrap: wrap;
        justify-content: end;
    }

    .main-catalog-item {
        width: 49%;
    }

    .catalog-flex-item {
        width: 48%;
    }

    .main-page-contacts {
        flex-wrap: wrap;
    }
}

@media(max-width: 767px) {

    .footer-flex-block,
    .advantages-main,
    .header-contacts-row {
        flex-wrap: wrap;
    }

    .navbar-dark .navbar-toggler {
        color: #fff;
        border-color: #fff;
        margin-bottom: 20px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .header-block-btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .navbar-expand-md {
        justify-content: end;
        flex-direction: column;
        align-items: end;
    }

    .navbar-collapse {
        width: 100%;
    }

    .navbar-toggler {
        border: 2px solid transparent;
    }

    .header-line-top a {
        white-space: nowrap;
    }

    .catalog-flex-item {
        width: 100%;
    }

    .images-main {
        flex-wrap: wrap;
    }

    .images-main-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-line-top {
        flex-wrap: wrap;
    }

    .card-goods-item {
        flex-wrap: wrap;
    }

    .cart-goods-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .cart-goods-prop {
        width: 100%;
    }

    .portfolio-block-item {
        width: 32%;
    }
}

@media (max-width: 600px) {
    .main-page-contacts {
        flex-direction: column-reverse;
    }

    .header-logo img {
        width: 120px;
    }

    .contact-block {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {

    .header-logo {
        margin-bottom: 10px;
    }

    .dropdown-item {
        white-space: inherit;
    }

    .advantages-flex-text {
        font-size: 16px;
    }

    .portfolio-block-item {
        width: 48%;
    }
}